Repository kube-vip/kube-vip, pull requests merged in 2024-04, with the labels that each got.

#770 Mirror traffic of service interface to a dest interface
  cmd/kube-vip.go
  pkg/kubevip/config_environment.go
  pkg/kubevip/config_envvar.go
  pkg/kubevip/config_generator.go
  pkg/kubevip/config_types.go
  pkg/manager/manager.go
  pkg/manager/watch_services.go
  pkg/trafficmirror/trafficmirror.go
Labels: enhancement, services

#778 Removal of deprecated start command
  cmd/kube-vip-start.go
  cmd/kube-vip.go
Labels: enhancement, services, control plane

#816 Adds annotation support for service interfaces.
  pkg/manager/instance.go
  pkg/manager/services.go
Labels: documentation, enhancement, services, Waiting for New Release
